body {
  margin: 0;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

  input {
    background-color: #EEE;
    border-style: none;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.1);
    padding: 10px 15px;
    font-family: 'Montserrat';
    font-size: 14px;
    outline: none;
    border-radius: 5px;
    margin-bottom: 16px;
  }

  select {
    background-color: #EEE;
    border-style: none;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.1);
    padding: 10px 15px;
    font-family: 'Montserrat';
    font-size: 14px;
    outline: none;
    border-radius: 5px;
    margin-bottom: 16px;
  }

  button {
    background-color: #AC1C1C;
    color: #fff;
    border-style: none;
    padding: 8px 16px;
    cursor: pointer;
    transition: opacity .2s;
    border-radius: 5px;
    width: 100px;
    font-family: 'Montserrat';
    font-size: 14px;
  }

  button:hover {
    opacity: 0.8;
  }