.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin-left: 10%;
    margin-top: 200px;
}

.home-header {
    position: absolute;
    top: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.add-product {
    align-self: flex-end;
}

.logout-button {
    margin-top: 40px;
    margin-right: 20px;
    cursor: pointer;
}

.logout-button:hover {
    opacity: 0.6;
}